<div class="planet_view">
    <div class="planet_header">
        <h1 class="planet_title">{{planet.name}} <small>{{planet.type}}</small></h1>
        <strong>Population:</strong> {{planet.currentPopulation}} (+ {{planet.currentGrowthAmount}}) |
        <strong>Research: </strong> {{planet.currentResearchOutput}}/turn |
        <strong>Trade: </strong> ${{planet.currentTradeOutput}} |
        <strong>Industry: </strong> {{planet.currentIndustrialOutput}}/turn
    </div>
    <div>
        <a href='#/system/{{planet.systemId}}'>Back to System</a>
    </div>

    <div class="planet_view_graphic">
        <div class="planet_graphic planet_size_{{planet.size}} planet_type_{{planet.type}}">

        </div>
        <div class="natural_satellites_graphic">

        </div>
        <div class="artificial_satellites_graphic">

        </div>
    </div>
    <div class='planet_environment panel'>
        <h2>Environmental Details</h2>
        <dl class="propList">
            <dt>Global Temperature</dt>
            <dd>{{planet.temp}}</dd>
            <dt>Atmosphere</dt>
            <dd>{{planet.atmosphereType | scoreWords}} ({{planet.atmosphereDensity}})</dd>
            <dt>Water Coverage</dt>
            <dd>{{planet.water}}0%</dd>
            <dt>Ice Coverage</dt>
            <dd>{{planet.ice}}0%</dd>
        </dl>
        <h4>Moons</h4>
        <ul>
            <li ng-repeat="moon in planet.moons">{{moon.name}}</li>
        </ul>
        <h4>Special Factors</h4>
        <ul>
            <li ng-repeat="factor in planet.factors">{{factor.name}}</li>
        </ul>
    </div>
    <div class="planet_civilization panel">
        <div ng-show="planet.isColonized()">
            <h3>Settlements</h3>
            <div ng-repeat="settlement in planet.settlements">
                <strong>{{settlement.class}}</strong>
                <dl class="propList">
                    <dt>Pop:</dt>
                    <dd>{{settlement.currentPopulation}}</dd>
                </dl>
            </div>
        </div>
        <div ng-show="!planet.isColonized()">
            <div ng-switch on="planet.isColonizable()">
                <div ng-switch-when="true">
                    <strong class="btn" ng-click="pickSettlement = true;">Colonize Planet</strong>
                    <div ng-show="pickSettlement">
                        <ul>
                            <li><span ng-click="planet.buildSettlement('habitat', game.player)">Build Standard Habitat</span></li>>
                            <li><span ng-click="planet.buildSettlement('outpost', game.player)">Build Outpost</span></li>
                            <li><span ng-click="planet.buildSettlement('colony', game.player)">Build Colony</span></li>
                            <li><span ng-click="pickSettlement = false">Cancel</span></li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-when="false">
                    <strong>Can't Colonize Here</strong>
                </div>
            </div>
        </div>
    </div>
    <div id="debugOutput">

    </div>
</div>