<div class="planet_view">
    <div class="planet_header">
        <h1 class="planet_title">{{planet.name}} <small>{{planet.type}}</small></h1>
        <strong>Population:</strong> 13,658 (+ 137) |
        <strong>Research: </strong> 213k |
        <strong>Trade: </strong> $1.3M |
        <strong>Industry: </strong> 500k/turn
    </div>

    <div class="planet_view_graphic">
        <div class="planet_graphic planet_size_{{planet.size}} planet_type_{{planet.type}}">

        </div>
        <div class="natural_satellites_graphic">

        </div>
        <div class="artificial_satellites_graphic">

        </div>
    </div>
    <div class='planet_environment'>
        <h2>Environmental Details</h2>
        <dl>
            <dt>Global Temperature</dt>
            <dd>{{planet.temp}}</dd>
            <dt>Atmosphere</dt>
            <dd>{{planet.atmosphereType | scoreWords}} ({{planet.atmosphereDensity}})</dd>
            <dt>Water Coverage</dt>
            <dd>{{planet.water}}0%</dd>
            <dt>Ice Coverage</dt>
            <dd>{{planet.ice}}0%</dd>
        </dl>
        <h4>Moons</h4>
        <ul>
            <li ng-repeat="moon in planet.moons">{{moon.name}}</li>
        </ul>
        <h4>Special Factors</h4>
        <ul>
            <li ng-repeat="factor in planet.factors">{{factor.name}}</li>
        </ul>
    </div>
    <div class="planet_civilization">
        <h2>Settlement Details</h2>
        <div ng-switch on="planet.isColonized()">
            <div ng-swtch-when="true">
                <strong>Planet is Colonized</strong>
            </div>
            <div ng-switch-when="false" ng-switch on="planet.isHabitable()">
                <div ng-switch-when="true">
                    <strong class="btn" ng-click="planet.buildSettlement(game.player)">Colonize Planet</strong>
                </div>
                <div ng-switch-when="false">
                    <strong>Can't Colonize Here</strong>
                </div>
            </div>
        </div>
    </div>
    <div id="debugOutput">
        {{planet}}
    </div>
</div>