<div class="system_view">

    <div class="system_header">
        <h2>{{system.name}}</h2>
        <div ng-switch on="system.stars.length">
            <strong ng-switch-when="1">Single Star System</strong>
            <strong ng-switch-when="2">Binary Star System</strong>
            <strong ng-switch-when="3">Trinary Star System</strong>
        </div>
    </div>

    <div class="system_stars">
        <div class="system_star" ng-repeat="star in system.stars">
            <strong>{{star.name}}</strong>
            <small>{{star.className}} ({{star.class}})</small>
            <span class="system_star_graphic spectral_class_{{star.class}}"></span>
        </div>
    </div>

    <div class="system_planets">
        <div class="system_planet" ng-repeat="planet in system.planets">
            <a href="#/planet/{{planet.id}}" class="planet_title">{{planet.name}}</a>
            <strong class="planet_type">{{planet.type}} ({{planet.size}})</strong>
            <small class="planet_atmosphere">{{planet.atmosphereType}} ({{planet.atmosphereDensity}})</small>
            <div class="system_planet_graphic_wrapper">
                <span class="system_planet_graphic planet_size_{{planet.size}} planet_type_{{planet.type}}">
                    <span class="system_planet_atmosphere planet_atmosphere_type_{{planet.atmosphereType}}  planet_atmosphere_density_{{planet.atmosphereDensity}}"></span>
                </span>
            </div>
            <dl>
                <dt>Temp:</dt> <dd>{{planet.temp}}</dd>
                <dt>Liquid Water:</dt> <dd>{{planet.water}}0%</dd>
                <dt>Water Ice:</dt> <dd>{{planet.ice}}0%</dd>
            </dl>
        </div>
    </div>
</div>